{{!-- <!DOCTYPE html>
<html lang="en"> --}}

<head>
    <meta charset="UTF-8">
    <title>Hypnos| survey</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font link for google fonts -->
    {{!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron"> --}}
</head>

<body>
    <nav class="navBar" role="navigation">
        <div class="nav-wrapper container">

            <a id="logo-container" href="/" class="brand-logo"> Hypnos</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/team.html">Team</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="/team.html">Team</a></li>
            </ul>

            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        </div>

    </nav>


        {{{body}}}

        <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascript/onBoard.js"></script>
<script src="/javascript/results.js"></script>

</body>
{{!-- </html> --}}