    
   <section>
        <div class="container">
            <div class="row">
                {{#unless user.age}}
                <div class="col-md-7 main-section" id="link-box" >
                   
                    <form class="ageForm">
                    <h5>Please select the range of your age</h5>
                        <p><label>
                            <input class="with-gap age" name="age" type="radio" value="14 - 17 years"/>
                            <span>14 - 17 years</span>
                        </label></p>
                        <p><label>
                              <input class="with-gap age" name="age" type="radio" value="18 - 25 years"/>
                              <span>18 - 25 years</span>
                        </label></p>
                        <p><label>
                            <input class="with-gap btn age" name="age" type="radio" value="18 - 25 years"/>
                            <span>26 - 64 years</span>
                      </label></p>
                      <p><label>
                        <input class="with-gap btn age" name="age" type="radio" value="18 - 25 years"/>
                        <span>> 65 years</span>
                     </label></p>
                    <br>                 

                        <div class="row center">
                            <button class="btn" type="submit">Submit</button>
                        </div>
                    </form> 

                </div>
                {{/unless}}
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 main-section">
                  <form class="survey">
                    <h5>What time did you go to bed?</h5>
                        <p><label>
                            <input class="with-gap" name="bedTime" type="radio"  value="7:00 - 9:00 pm"/>
                            <span>7:00 - 9:00 pm </span>
                        </label></p>
                        <p><label>
                              <input class="with-gap" name="bedTime" type="radio" value="9:00 - 11:00 pm"/>
                              <span>9:00 - 11:00 pm</span>
                        </label></p>
                        <p><label>
                            <input class="with-gap" name="bedTime" type="radio" value="11:00 pm - 1:00 am"/>
                            <span>11:00 pm - 1:00 am</span>
                      </label></p>
                      <p><label>
                        <input class="with-gap" name="bedTime" type="radio" value="1:00 am - 3:00 am"/>
                        <span>1:00 am - 3:00 am</span>
                     </label></p>
                    <br>


                    <h5>What time did you wake up?</h5>
                        <p><label>
                            <input class="with-gap" name="wakeUp" type="radio" value="3:00 - 5:00 am"/>
                            <span>3:00 - 5:00 am </span>
                        </label></p>
                        <p><label>
                              <input class="with-gap" name="wakeUp" type="radio" value="5:00 - 7:00 am"/>
                              <span>5:00 - 7:00 am</span>
                        </label></p>
                        <p><label>
                            <input class="with-gap" name="wakeUp" type="radio" value="7:00 - 9:00 am"/>
                            <span>7:00 - 9:00 am</span>
                      </label></p>
                      <p><label>
                        <input class="with-gap" name="wakeUp" type="radio" value="9:00 am - 11:00 am"/>
                        <span>9:00 am - 11:00 am</span>
                     </label></p>
                    <br>

                    <h5>How long did you take to fall asleep?</h5>
                   
                        <p><label>
                            <input class="with-gap" name="group1" type="radio" value="Less than 10 minutes"/>
                            <span>Less than 10 minutes</span>
                        </label></p>
                        <p><label>
                              <input class="with-gap" name="group1" type="radio" value="30 minutes"/>
                              <span>30 minutes</span>
                        </label></p>
                        <p><label>
                            <input class="with-gap" name="group1" type="radio" value="1 hour"/>
                            <span>1 hour</span>
                      </label></p>
                      <p><label>
                        <input class="with-gap" name="group1" type="radio" value="More than an hour"/>
                        <span>More than an hour</span>
                     </label></p>
                    <br>

                    <h5>Do you feel rested?</h5>
                    
                        <p><label>
                            <input class="with-gap" name="rested" type="radio" value="Yes" />
                            <span>Yes</span>
                        </label></p>
                        <p><label>
                            <input class="with-gap" name="rested" type="radio" value="No"/>
                            <span>No</span>
                        </label></p>
                     <br>


                    <div class="row center">
                        <a class="btn" href="/results">Submit</a>
                    </div>
                </form>

                </div>

    </section>


    <footer>
        <div class="container">
            Made by <a class="color" href="http://materializecss.com">Copyright &copy; 2020</a>
        </div>
    </footer>


