<!--This is the user profile page-->
<!--this is just a sample. obvi we want to totally redo this-->
<div class="w3-card-4">
    <h1>Welcome {{user.nickname}}</h1>
    <img src="{{user.picture}}" alt="user pic">
    <h2>User profile</h2>
    <p>This is the content of <code>req.user</code>.</p>
    <p>Note: <code>_raw</code> and <code>_json</code> properties have been ommited.</p>
    <div>
        {{{userProfile}}}
    </div>
</div>